body {
  margin: 0px;
  background-color: #FFFFFF;
}

header {
  background-image: -webkit-linear-gradient(#333333,#0174A3);
  height: 70px;
  display: block;
  color: white;
  font-size: 1.5rem;
}


/*HEADER STYLES
=======================================*/
header > h2 {
  margin-top: .25em;
  text-align: center;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
}



p {
  font-family: 'Lato', serif;
  text-align: center;
}

/*===========LINK STYLES===============*/
a, a:link, a:active, a:visited {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: #444444;
}

img {
  margin-top: .1em;
  display: block;
  float: none;
  margin: auto;
  max-width: 85%;
  max-height: 85%;
}
